* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styling */
html, body {
  width: 100%;
  overflow-x: hidden;
}

.water-ripple-over-white-backgr {
  width: 100%;
  height: 629px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.group-icon {
  width: 1384px;
  position: relative;
  max-height: 100%;
  display: none;
  max-width: 100%;
  z-index: 2;
}
.r6-3,
.web-page-child {
  flex-shrink: 0;
  max-width: 100%;
}
.web-page-child {
  width: 100%;
  height: 1304px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  z-index: 4;
}
.r6-3 {
  width: 944.8px;
  height: 714.7px;
  position: relative;
  display: none;
  z-index: 5;
}
.indias-first-abrasive {
  align-self: stretch;
  position: relative;
  font-weight: 900;
  font-family: var(--font-basement-grotesque);
  text-align: left;
  backdrop-filter: blur(26.3px);
}
.x-better-than {
  align-self: stretch;
  position: relative;
  font-size: 42.4px;
  font-weight: 500;
}
.katana-waterjet-advantage {
  margin: 0;
}
.katana-waterjet-advantage-container {
  margin: 0;
  width: 930px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.advantage-highlight {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  font-size: 33px;
  color: var(--color-white);
}
.value-proposition,
.value-proposition-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.value-proposition-content {
  padding: 0 var(--padding-61xl);
  gap: var(--gap-5xl);
  z-index: 3;
}
.value-proposition {
  padding: 0 0 91px;
  box-sizing: border-box;
  gap: 63px;
  max-width: 100%;
  text-align: center;
  font-size: 63.1px;
  color: var(--color-deepskyblue-100);
  font-family: var(--font-poppins);
}
.web-page-item {
  width: 100%;
  height: 1750px;
  position: absolute;
  margin: 0 !important;
  top: 2271px;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 3;
}
.b05bb3-480d-4dba-a870-32ba9287-icon {
  position: absolute;
  top: 0;
  left: 328px;
  width: 1770px;
  height: 2166px;
  object-fit: cover;
}
.b05bb3-480d-4dba-a870-32ba9287-icon1 {
  position: absolute;
  top: 58px;
  left: -218px;
  width: 710px;
  height: 800px;
  object-fit: contain;
}
.b05bb3-480d-4dba-a870-32ba9287-icon2 {
  position: absolute;
  top: 858px;
  left: -139px;
  width: 1244px;
  height: 1401.8px;
  object-fit: contain;
}
.water-bg,
.web-page-inner {
  width: 100%;
  height: 2260px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 4438px;
  left: 0;
  flex-shrink: 0;
}
.web-page-inner {
  height: 1257px;
  bottom: 3543px;
  max-width: 100%;
  overflow: hidden;
  z-index: 2;
}
.water-container,
.water-container-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.water-container-parent {
  padding: 0 0 var(--padding-8xs);
  box-sizing: border-box;
  gap: var(--gap-11xl);
}
.union-icon {
  width: 100%;
  height: 1350px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 629px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 3;
}
.product {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.footer-menu-pair {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.waterjet-models {
  position: relative;
}
.footer-menu-column-pair {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-7xs) var(--padding-8xs) 0;
}
.shop,
.software {
  position: relative;
  display: inline-block;
  min-width: 106px;
}
.shop {
  min-width: 62px;
}
.footer-menu-column,
.footer-menu-pair-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-menu-column {
  align-self: stretch;
  gap: var(--gap-5xs);
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.footer-menu-pair-parent {
  width: 425px;
  gap: var(--gap-6xl);
  max-width: 100%;
}
.waterjet-cutting-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0;
}
.d-printing {
  position: relative;
  display: inline-block;
  min-width: 128px;
}
.d-design,
.lathe,
.milling,
.spm,
.welding {
  position: relative;
  display: inline-block;
  min-width: 66px;
}
.d-design,
.milling,
.spm,
.welding {
  min-width: 76px;
}
.d-design,
.spm,
.welding {
  min-width: 98px;
}
.d-design,
.spm {
  min-width: 120px;
}
.spm {
  min-width: 49px;
}
.frame-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.footer-menu,
.material-gallery-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.footer-menu {
  align-self: stretch;
  justify-content: space-between;
  padding: 0 var(--padding-61xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.material-gallery-wrapper {
  justify-content: flex-start;
  padding: 0;
}
.about-us,
.articles,
.faq,
.how-to,
.reviews {
  position: relative;
  display: inline-block;
  min-width: 48px;
}
.about-us,
.articles,
.how-to,
.reviews {
  min-width: 96px;
}
.about-us,
.articles,
.how-to {
  min-width: 83px;
}
.about-us,
.articles {
  min-width: 88px;
}
.about-us {
  min-width: 107px;
}
.footer-menu-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-31xl);
  max-width: 100%;
  z-index: 4;
}
.frame-section,
.web-page {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frame-section {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 95px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-26xl);
  color: var(--color-deepskyblue-100);
  font-family: var(--font-poppins);
}
.web-page {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 195px;
  line-height: normal;
  letter-spacing: normal;
  max-width: 100%;
}

@media screen and (max-width: 1500px) {
  .footer-menu {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1200px) {
  .value-proposition-content {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .value-proposition {
    gap: 31px;
    padding-bottom: 59px;
    box-sizing: border-box;
  }
  .footer-menu {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .frame-section {
    padding-bottom: var(--padding-43xl);
    box-sizing: border-box;
  }
  .web-page {
    gap: var(--gap-78xl);
  }
}
@media screen and (max-width: 825px) {
  .indias-first-abrasive {
    font-size: var(--font-size-31xl);
  }
  .x-better-than {
    font-size: var(--font-size-15xl);
  }
  .katana-waterjet-advantage-container {
    font-size: var(--font-size-7xl);
  }
  .value-proposition {
    padding-bottom: var(--padding-19xl);
    box-sizing: border-box;
  }
  .product {
    font-size: var(--font-size-17xl);
  }
  .frame-section {
    padding-bottom: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .indias-first-abrasive {
    font-size: 38px;
  }
  .x-better-than {
    font-size: 25px;
  }
  .katana-waterjet-advantage-container {
    font-size: var(--font-size-xl);
  }
  .value-proposition {
    gap: var(--gap-base);
  }
  .product {
    font-size: var(--font-size-8xl);
  }
  .about-us,
  .articles,
  .d-design,
  .d-printing,
  .faq,
  .how-to,
  .lathe,
  .milling,
  .reviews,
  .shop,
  .software,
  .spm,
  .waterjet-models,
  .welding {
    font-size: var(--font-size-lgi);
  }
  .footer-menu-parent {
    gap: var(--gap-6xl);
  }
  .web-page {
    gap: var(--gap-30xl);
  }
}
