.card {
  height: 367px;
  width: 520px;
}

.card .overlap-group {
  border-radius: 80px;
  height: 367px;
  position: relative;
}

.card .back {
  -webkit-backdrop-filter: blur(30px) brightness(100%);
  backdrop-filter: blur(30px) brightness(100%);
  background-color: #89d7ff1a;
  border-radius: 80px;
  height: 367px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 520px;
}

.card .high-end {
  color: #ffffff;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 101px;
}

.card .front {
  -webkit-backdrop-filter: blur(30px) brightness(100%);
  backdrop-filter: blur(30px) brightness(100%);
  background: linear-gradient(180deg, rgb(136.85, 214.91, 255) 0%, rgb(31.82, 176.75, 251.17) 100%);
  border-radius: 80px;
  height: 367px;
  left: 0;
  position: absolute;
  top: 0;
  width: 520px;
}

.card .text-wrapper-3 {
  color: #ffffff;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 33.4px;
  font-weight: 600;
  left: 58px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 211px;
}

.card .text-wrapper-4 {
  color: #ffffff6b;
  font-family: "Basement Grotesque-Black", Helvetica;
  font-size: 83.4px;
  font-weight: 900;
  left: 210px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 103px;
  white-space: nowrap;
}
