.web-page {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.web-page .overlap-wrapper {
  background-color: #000000;
  height: 7781px;
  overflow: hidden;
  width: 1728px;
}

.web-page .overlap {
  height: 7731px;
  left: -95px;
  position: relative;
  width: 2437px;
}

.web-page .group {
  height: 1291px;
  left: 267px;
  position: absolute;
  top: 1342px;
  width: 1384px;
}

.web-page .frame {
  display: flex;
  height: 2000px;
  left: 95px;
  position: absolute;
  top: 500px;
  width: 1729px;
}

.web-page .vector {
  height: 1365px;
  left: 95px;
  top: 1500px;
  position: absolute;
  top: 0;
  width: 1728px;
}

.web-page .layout {
  background-image: url(Subtract.svg);
  background-size: 100% 100%;
  height: 1029px;
  left: 145px;
  position: absolute;
  top: 50px;
  width: 1628px;
}

.web-page .overlap-2 {
  height: 935px;
  left: 25px;
  position: absolute;
  top: 94px;
  width: 1603px;
}

.web-page .overlap-group-wrapper {
  height: 888px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 888px;
}

.web-page .overlap-group-7 {
  height: 888px;
  position: relative;
}

.web-page .ellipse {
  height: 360px;
  left: 264px;
  position: absolute;
  top: 264px;
  width: 360px;
}

.web-page .img {
  height: 888px;
  left: 0;
  position: absolute;
  top: 0;
  width: 888px;
}

.web-page .frame-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 14px;
  width: 1388px;
}

.web-page .text-wrapper-11 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  align-self: stretch;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  background-clip: text;
  color: transparent;
  font-family: "Basement Grotesque-Black", Helvetica;
  font-size: 292.4px;
  font-weight: 900;
  height: 300px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-fill-color: transparent;
  white-space: nowrap;
}

.web-page .text-wrapper-12 {
  -webkit-text-stroke: 2.8px #ffffff;
  align-self: stretch;
  color: transparent;
  font-family: "Basement Grotesque-Black", Helvetica;
  font-size: 141.6px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -2.8px;
  position: relative;
}

.web-page .mask-group {
  height: 913px;
  left: 960px;
  position: absolute;
  top: 22px;
  width: 643px;
}

.web-page .frame-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2.45px;
  left: 3px;
  position: absolute;
  top: 509px;
  width: 493px;
}

.web-page .text-wrapper-13 {
  color: #ffffff;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 35px;
  font-weight: 600;
  height: 49px;
  letter-spacing: 0;
  line-height: normal;
  margin-right: -12px;
  margin-top: -1.22px;
  position: relative;
  width: 505px;
}

.web-page .text-wrapper-14 {
  color: #ffffff;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 35px;
  font-weight: 600;
  height: 49px;
  letter-spacing: 0;
  line-height: normal;
  margin-right: -12px;
  position: relative;
  width: 505px;
}

.web-page .r {
  height: 742px;
  left: 559px;
  position: absolute;
  top: 175px;
  width: 981px;
}

.web-page .frame-wrapper {
  align-items: center;
  background-color: #ffffff;
  border-radius: 35px;
  display: flex;
  gap: 10px;
  height: 91px;
  justify-content: center;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 686px;
  width: 376px;
}

.web-page .frame-4 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.web-page .frame-5 {
  height: 24px;
  position: relative;
  width: 24px;
}

.web-page .text-wrapper-15 {
  color: #000000;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.web-page .logo-placement {
  align-items: center;
  display: inline-flex;
  gap: 16px;
  left: 50px;
  position: absolute;
  top: 28px;
}

.web-page .logo {
  height: 66px;
  position: relative;
  width: 63px;
}

.web-page .line {
  height: 66px;
  object-fit: cover;
  position: relative;
  width: 1px;
}

.web-page .guhan-industrial-and {
  color: #ffffff;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.web-page .menu-button-instance {
  left: 700px !important;
  position: absolute !important;
  top: 0 !important;
}

.web-page .group-2 {
  height: 2072px;
  left: 0;
  position: absolute;
  top: 4039px;
  width: 1943px;
}

.web-page .overlap-3 {
  height: 2072px;
  position: relative;
}

.web-page .group-3 {
  height: 1112px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1943px;
}

.web-page .group-4 {
  height: 1080px;
  left: 14px;
  position: absolute;
  top: 992px;
  width: 1887px;
}

.web-page .rectangle {
  height: 1117px;
  left: 709px;
  position: absolute;
  top: 56px;
  width: 1728px;
}

.web-page .vector-2 {
  height: 1762px;
  left: 95px;
  position: absolute;
  top: 2425px;
  width: 1728px;
}

.web-page .frame-6 {
  height: 885px;
  left: 176px;
  position: absolute;
  top: 2974px;
  width: 1552px;
}

.web-page .frame-7 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 242px;
  position: absolute;
  top: 2736px;
  width: 1434px;
}

.web-page .text-wrapper-16 {
  color: #20b1fb;
  font-family: "Basement Grotesque-Black", Helvetica;
  font-size: 78px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.web-page .text-wrapper-17 {
  align-self: stretch;
  color: #000000;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 53px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
}

.web-page .text-wrapper-18 {
  color: #20b1fb;
  font-family: "Basement Grotesque-Black", Helvetica;
  font-size: 90.9px;
  font-weight: 900;
  left: 273px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4131px;
  white-space: nowrap;
}

.web-page .frame-8 {
  height: 810px;
  left: 342px;
  position: absolute;
  top: 4317px;
  width: 1233px;
}

.web-page .overlap-4 {
  height: 860px;
  left: 24px;
  position: relative;
  top: -59px;
  width: 1184px;
}

.web-page .text-wrapper-19 {
  color: #00557f;
  font-family: "Basement Grotesque-Black", Helvetica;
  font-size: 341px;
  font-weight: 900;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.web-page .front-view {
  height: 627px;
  left: 112px;
  position: absolute;
  top: 234px;
  width: 960px;
}

.web-page .frame-9 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 34px;
  left: 145px;
  position: absolute;
  top: 5204px;
  width: 1628px;
}

.web-page .frame-10 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 34px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.web-page .card-instance {
  position: relative !important;
}

.web-page .frame-11 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 34px;
  position: relative;
  width: 100%;
}

.web-page .vector-3 {
  height: 1805px;
  left: 95px;
  position: absolute;
  top: 5926px;
  width: 1728px;
}

.web-page .text-wrapper-20 {
  color: #20b1fb;
  font-family: "Basement Grotesque-Black", Helvetica;
  font-size: 78.6px;
  font-weight: 900;
  left: 236px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6259px;
  white-space: nowrap;
}

.web-page .parameters {
  color: #000000;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 43.7px;
  font-weight: 400;
  left: 685px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6377px;
}

.web-page .p {
  color: #000000;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 167px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: justify;
  top: 6676px;
  width: 803px;
}

.web-page .frame-12 {
  height: 603px;
  left: 1029px;
  position: absolute;
  top: 6677px;
  width: 708px;
}

.web-page .overlap-5 {
  height: 603px;
  position: relative;
  width: 714px;
}

.web-page .ellipse-2 {
  background-color: #000000b8;
  border-radius: 258.49px/93.34px;
  filter: blur(202.35px);
  height: 187px;
  left: 82px;
  position: absolute;
  top: 344px;
  width: 517px;
}

.web-page .r-2 {
  height: 603px;
  left: 0;
  position: absolute;
  top: 0;
  width: 714px;
}
