.component-29 {
  height: 292.5px;
  flex: 1 1;
  position: relative;
  min-width: 400px;
  max-width: 52%;
  text-align: center;
  font-size: var(--font-size-4xl-1);
  color: var(--color-white);
  font-family: var(--font-poppins);
  perspective: 1000px;
  cursor: pointer;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card.flipped {
  transform: rotateY(180deg);
}

.front4,
.back5 {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.back5 {
  transform: rotateY(180deg);
}

.back-inner {
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(28.89px);
  border-radius: 77.05px;
  background-color: var(--color-lightskyblue-200);
  border: 1.9px solid var(--color-deepskyblue-100);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.stainless-steel-catcher {
  margin: 0;
}

.stainless-steel-catcher-container {
  position: absolute;
  top: 125.2px;
  left: calc(50% - 226.4px);
  z-index: 1;
}

.front-inner {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  border-radius: 77.05px;
  background: linear-gradient(112.29deg, #89d7ff, #20b1fb);
}

.div2,
.stainless-steel-catcher-container1 {
  position: absolute;
  font-weight: 900;
  z-index: 1;
}

.div2 {
  top: 46.3px;
  left: 188.7px;
}

.stainless-steel-catcher-container1 {
  top: 151.1px;
  left: 107.9px;
  font-size: var(--font-size-13xl-2);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
}

.front4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  font-size: var(--font-size-61xl-3);
  color: var(--color-gray-300);
  font-family: var(--font-basement-grotesque);
}

@media screen and (max-width: 825px) {
  .div2 {
    font-size: var(--font-size-21xl);
  }
  .stainless-steel-catcher-container1 {
    font-size: var(--font-size-7xl);
  }
}

@media screen and (max-width: 450px) {
  .stainless-steel-catcher-container {
    font-size: var(--font-size-lg);
  }
  .div2 {
    font-size: var(--font-size-5xl);
  }
  .stainless-steel-catcher-container1 {
    font-size: var(--font-size-lgi);
  }
  .component-29 {
    min-width: 100%;
  }
}
