.element-part-icon,
.element-part-icon1 {
  position: absolute;
  height: 88.55%;
  width: 98.8%;
  top: 11.45%;
  right: -0.01%;
  bottom: 0;
  left: 1.21%;
  max-width: 100%;
  overflow: hidden;
  max-height: auto;
  object-fit: cover;
}
.element-part-icon1 {
  height: 73.06%;
  width: 99.1%;
  top: 0;
  right: 0.9%;
  bottom: 26.94%;
  left: 0;
  z-index: 1;
}
.group2 {
  position: absolute;
  top: 293.1px;
  left: 417.2px;
  width: 957.1px;
  height: 503.8px;
}
.element-part-icon2,
.element-part-icon3 {
  position: absolute;
  height: 52.6%;
  width: 69.62%;
  top: 12.36%;
  right: 15.45%;
  bottom: 11.04%;
  left: 14.93%;
  overflow: hidden;
  max-height: auto;
  object-fit: cover;
  z-index: 2;
}
.element-part-icon3 {
  height: -14.34%;
  width: 99.93%;
  top: 37%;
  right: 0;
  bottom: 0;
  left: 0.07%;
  z-index: 3;
}
.element-part-icon4 {
  height: 66.49%;
  width: 83.73%;
  top: -10.09%;
  right: 14.63%;
  bottom: 24.42%;
  left: 1.64%;
  z-index: 4;
}
.element-part-icon4,
.element-part-icon5,
.element-part-icon6,
.element-part-icon7,
.group-icon2 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: auto;
  object-fit: cover;
}
.element-part-icon5 {
  height: 6.36%;
  width: 3.72%;
  top: 36.62%;
  right: 36.7%;
  bottom: 57.02%;
  left: 59.59%;
  z-index: 5;
}
.element-part-icon6,
.element-part-icon7,
.group-icon2 {
  height: 5.06%;
  width: 2.31%;
  top: 7.79%;
  right: 8.54%;
  bottom: 87.14%;
  left: 89.16%;
}
.element-part-icon7,
.group-icon2 {
  height: 18.7%;
  width: 8.39%;
  top: -3%;
  right: 10.48%;
  bottom: 66.49%;
  left: 81.13%;
  z-index: 5;
}
.group-icon2 {
  height: 19.61%;
  width: 7.8%;
  top: 10.39%;
  right: 50.3%;
  bottom: 70%;
  left: 41.9%;
}
.element-part-icon8 {
  height: 6.88%;
  width: 2.75%;
  top: 9.87%;
  right: 8.91%;
  bottom: 83.25%;
  left: 88.34%;
  z-index: 6;
}
.element-part-icon10,
.element-part-icon11,
.element-part-icon8,
.element-part-icon9 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: auto;
  object-fit: cover;
}
.element-part-icon9 {
  height: 3.11%;
  width: 1.64%;
  top: 42.47%;
  right: 84.92%;
  bottom: 54.42%;
  left: 13.45%;
  z-index: 5;
}
.element-part-icon10,
.element-part-icon11 {
  height: 3.77%;
  width: 2.01%;
  top: 4.28%;
  right: 97.99%;
  bottom: 91.95%;
  left: 0;
}
.element-part-icon11 {
  height: 2.73%;
  width: 1.49%;
  top: 0;
  right: 98.51%;
  bottom: 97.27%;
}
.element-part-icon12 {
  position: absolute;
  height: 6.11%;
  width: 3.12%;
  top: 31.56%;
  right: 14.19%;
  bottom: 62.33%;
  left: 82.69%;
  object-fit: cover;
  z-index: 6;
}
.element-part-icon12,
.element-part-icon13,
.group-icon3 {
  max-width: 100%;
  overflow: hidden;
  max-height: auto;
}
.element-part-icon13 {
  position: absolute;
  height: 3.9%;
  width: 2.45%;
  top: 28.57%;
  right: 31.72%;
  bottom: 67.53%;
  left: 65.83%;
  object-fit: cover;
  z-index: 5;
}
.group-icon3 {
  height: 2.99%;
  width: 1.64%;
  top: 19.87%;
  right: 8.02%;
  bottom: 77.14%;
  left: 90.35%;
}
.group-icon3,
.group-icon4,
.group-icon5 {
  position: absolute;
  object-fit: cover;
}
.group-icon4 {
  height: 3.63%;
  width: 1.93%;
  top: 6.5%;
  right: 8.69%;
  bottom: 89.87%;
  left: 89.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: auto;
  z-index: 7;
}
.group-icon5 {
  top: 54.9px;
  left: 1759.8px;
  width: 27.4px;
  height: 31.8px;
  z-index: 8;
}
.group-icon6 {
  height: 2.86%;
  width: 1.56%;
  top: 24.15%;
  right: 32.02%;
  bottom: 72.98%;
  left: 66.42%;
  z-index: 5;
}
.group-icon6,
.group-icon7,
.group-icon8,
.rectangle-icon1 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: auto;
  object-fit: cover;
}
.group-icon7 {
  height: 5.45%;
  width: 2.9%;
  top: 45.46%;
  right: 82.91%;
  bottom: 49.09%;
  left: 14.19%;
  z-index: 6;
}
.group-icon8,
.rectangle-icon1 {
  height: 2.6%;
  width: 1.56%;
  top: 5.97%;
  right: 55.27%;
  bottom: 91.43%;
  left: 43.17%;
}
.rectangle-icon1 {
  height: 5.45%;
  width: 2.9%;
  top: 56.62%;
  right: 23.77%;
  bottom: 37.93%;
  left: 73.33%;
  z-index: 5;
}
.front-view-icon,
.group-icon9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.front-view-icon {
  top: 264.1px;
  left: 131.3px;
  width: 47.6px;
  height: 46.2px;
  z-index: 6;
}
.group-group {
  position: absolute;
  top: 190.6px;
  left: 428.8px;
  width: 220.9px;
  height: 337.8px;
}
.katana-sj150-overview,
.sj150 {
  position: absolute;
  margin-top: -80px;
  font-weight: 900;
  z-index: 5;
}
.katana-sj150-overview {
  position: relative;
  top: -150px;
  left: 250px;
  font-family: "Basement Grotesque", sans-serif;
  backdrop-filter: blur(37.87px);
  z-index: 4;
  font-size: 1.2em;
  color: #1998e7;
}

.sj150 {
  top: -60px;
  left: 347.1px;
  font-size: var(--font-size-322xl);
  font-family: "Basement Grotesque", sans-serif;
  color: var(--color-steelblue-100);
  display: inline-block;
  min-height: 409px;
  z-index: 5;
}
.front-view-1 {
  position: absolute;
  top: 220px;
  left: 487px;
  width: 904px;
  height: 590px;
  object-fit: cover;
  z-index: 8;
  /* bright image */
}
.group,
.group1 {
  top: 0;
  left: 0;
  width: auto;
  height: auto;
}
.group {
  position: absolute;
  margin-top: 300px;
  left: -100px;
  width: 1943.1px;
  height: 1111.6px;
  opacity: 0.8;
}
.element-part-icon14,
.element-part-icon15 {
  position: absolute;
  height: 88.53%;
  width: 98.8%;
  top: 0;
  right: 0;
  bottom: 11.47%;
  left: 1.2%;
  max-width: 100%;
  overflow: hidden;
  max-height: auto;
  object-fit: cover;
}
.element-part-icon15 {
  height: 73.06%;
  width: 99.1%;
  top: 26.92%;
  right: 0.9%;
  bottom: 0.02%;
  left: 0;
  z-index: 1;
}
.group5 {
  position: absolute;
  top: 305.7px;
  left: 405.2px;
  width: 929.6px;
  height: 489.3px;
}
.element-part-icon16,
.element-part-icon17 {
  position: absolute;
  height: 52.59%;
  width: 69.61%;
  top: 11.04%;
  right: 15.46%;
  bottom: 36.37%;
  left: 14.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: auto;
  object-fit: cover;
  z-index: 2;
}
.element-part-icon17 {
  height: 25.84%;
  width: 99.93%;
  top: 0;
  right: 0;
  bottom: 74.16%;
  left: 0.07%;
  z-index: 3;
}
.element-part-icon18 {
  height: 66.5%;
  width: 83.73%;
  top: 24.42%;
  right: 14.64%;
  bottom: 9.09%;
  left: 1.63%;
  z-index: 4;
}
.element-part-icon18,
.element-part-icon19,
.element-part-icon20,
.element-part-icon21,
.group-icon10 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: auto;
  object-fit: cover;
}
.element-part-icon19 {
  height: 6.36%;
  width: 3.71%;
  top: 57.01%;
  right: 36.71%;
  bottom: 36.62%;
  left: 59.58%;
  z-index: 5;
}
.element-part-icon20,
.element-part-icon21,
.group-icon10 {
  height: 5.07%;
  width: 2.31%;
  top: 87.14%;
  right: 8.54%;
  bottom: 7.79%;
  left: 89.15%;
}
.element-part-icon21,
.group-icon10 {
  height: 18.7%;
  width: 8.39%;
  top: 66.5%;
  right: 10.48%;
  bottom: 14.8%;
  left: 81.13%;
  z-index: 5;
}
.group-icon10 {
  height: 19.61%;
  width: 7.8%;
  top: 70%;
  right: 50.3%;
  bottom: 10.39%;
  left: 41.9%;
}
.element-part-icon22 {
  height: 6.88%;
  width: 2.75%;
  top: 83.24%;
  right: 8.92%;
  bottom: 9.87%;
  left: 88.33%;
  z-index: 6;
}
.element-part-icon22,
.element-part-icon23,
.element-part-icon24,
.element-part-icon25 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: auto;
  object-fit: cover;
}
.element-part-icon23 {
  height: 3.11%;
  width: 1.63%;
  top: 54.42%;
  right: 84.92%;
  bottom: 42.47%;
  left: 13.44%;
  z-index: 5;
}
.element-part-icon24,
.element-part-icon25 {
  height: 3.77%;
  width: 2.01%;
  top: 91.95%;
  right: 97.99%;
  bottom: 4.28%;
  left: 0;
}
.element-part-icon25 {
  height: 2.72%;
  width: 1.48%;
  top: 97.28%;
  right: 98.52%;
  bottom: 0;
}
.element-part-icon26 {
  position: absolute;
  height: 6.1%;
  width: 3.12%;
  top: 62.34%;
  right: 14.19%;
  bottom: 31.56%;
  left: 82.69%;
  object-fit: cover;
  z-index: 6;
}
.element-part-icon26,
.group-icon11,
.rectangle-icon2 {
  max-width: 100%;
  overflow: hidden;
  max-height: auto;
}
.rectangle-icon2 {
  position: absolute;
  height: 3.9%;
  width: 2.45%;
  top: 67.53%;
  right: 31.72%;
  bottom: 28.57%;
  left: 65.82%;
  object-fit: cover;
  z-index: 5;
}
.group-icon11 {
  height: 2.98%;
  width: 1.63%;
  top: 77.14%;
  right: 8.03%;
  bottom: 19.88%;
  left: 90.34%;
}
.group-icon11,
.group-icon12,
.group-icon13 {
  position: absolute;
  object-fit: cover;
}
.group-icon12 {
  height: 3.64%;
  width: 1.93%;
  top: 89.87%;
  right: 8.69%;
  bottom: 6.49%;
  left: 89.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: auto;
  z-index: 7;
}
.group-icon13 {
  top: 995.5px;
  left: 1709.1px;
  width: 26.6px;
  height: 30.8px;
  z-index: 8;
}
.group-icon14 {
  height: 2.85%;
  width: 1.56%;
  top: 72.99%;
  right: 32.03%;
  bottom: 24.16%;
  left: 66.42%;
  z-index: 5;
}
.group-icon14,
.group-icon15,
.group-icon16,
.group-icon17,
.rectangle-icon3,
.rectangle-icon4 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: auto;
  object-fit: cover;
}
.group-icon15 {
  height: 5.46%;
  width: 2.9%;
  top: 49.09%;
  right: 82.91%;
  bottom: 45.45%;
  left: 14.19%;
  z-index: 6;
}
.group-icon16,
.group-icon17,
.rectangle-icon3,
.rectangle-icon4 {
  height: 2.59%;
  width: 1.56%;
  top: 91.43%;
  right: 55.28%;
  bottom: 5.97%;
  left: 43.16%;
}
.group-icon17,
.rectangle-icon3,
.rectangle-icon4 {
  height: 30.39%;
  width: 11.37%;
  top: 52.46%;
  right: 66.57%;
  bottom: 17.15%;
  left: 22.06%;
  z-index: 5;
}
.rectangle-icon3,
.rectangle-icon4 {
  height: 5.46%;
  width: 2.9%;
  top: 37.92%;
  right: 23.78%;
  bottom: 56.62%;
  left: 73.33%;
}
.rectangle-icon4 {
  height: 4.16%;
  width: 2.45%;
  top: 54.94%;
  right: 68.72%;
  bottom: 40.9%;
  left: 28.83%;
  z-index: 6;
}
.component-21-parent {
  position: absolute;
  top: -77.8px;
  left: -181px;
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-42xl);
  max-width: 100%;
  z-index: 2;
}
.component-27-parent {
  position: absolute;
  top: 400.2px;
  left: -181px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-42xl);
  max-width: 100%;
  z-index: 2;
}
.group3,
.group4 {
  position: absolute;
}
.group4 {
  left: 6%;
  width: 100%;
  height: auto;
  max-width: 100%;
}
.group3 {
  top: 992px;
  left: -62px;
  width: 1887.2px;
  height: 888.6px;
  opacity: 0.9;
  z-index: 1;
  text-align: center;
  font-size: var(--font-size-4xl-1);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.overview-container {
  height: 2071.6px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.water-content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs-4);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-size: var(--font-size-71xl-9);
  color: var(--color-deepskyblue-100);
  font-family: var(--font-basement-grotesque);
}
@media screen and (max-width: 1500px) {
  .group3,
  .group4 {
    height: auto;
    min-height: 1079.6;
  }
  .overview-container {
    height: auto;
    min-height: 2071.6000000000004;
    width: 100%;
  }
}
@media screen and (max-width: 825px) {
  .katana-sj150-overview {
    font-size: var(--font-size-26xl);
  }
  .sj150 {
    font-size: var(--font-size-117xl);
  }
}
@media screen and (max-width: 450px) {
  .katana-sj150-overview {
    font-size: var(--font-size-8xl);
  }
  .sj150 {
    font-size: var(--font-size-66xl);
  }
}
