.card-5 {
  height: 367px;
  width: 520px;
}

.card-5 .overlap-group-5 {
  border-radius: 80px;
  height: 367px;
  position: relative;
}

.card-5 .high-strength-wrapper {
  -webkit-backdrop-filter: blur(30px) brightness(100%);
  backdrop-filter: blur(30px) brightness(100%);
  background-color: #89d7ff1a;
  border-radius: 80px;
  height: 367px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 520px;
}

.card-5 .high-strength {
  color: #ffffff;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 29px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 128px;
}

.card-5 .front-5 {
  -webkit-backdrop-filter: blur(30px) brightness(100%);
  backdrop-filter: blur(30px) brightness(100%);
  background: linear-gradient(180deg, rgb(136.85, 214.91, 255) 0%, rgb(31.82, 176.75, 251.17) 100%);
  border-radius: 80px;
  height: 367px;
  left: 0;
  position: absolute;
  top: 0;
  width: 520px;
}

.card-5 .text-wrapper-9 {
  color: #ffffff66;
  font-family: "Basement Grotesque-Black", Helvetica;
  font-size: 83.4px;
  font-weight: 900;
  left: 195px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 79px;
  white-space: nowrap;
}

.card-5 .tungsten-carbide {
  color: #ffffff;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 33.4px;
  font-weight: 600;
  left: 110px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 187px;
}
